<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="m-0 p-0 box-border">

    <% if (success && success.length > 0) { %>
        <div class="toast logInToast max-sm:w-40 text-center font-bold fixed opacity-0 top-10 left-1/2 -translate-x-1/2 bg-green-500 text-white max-md:px-3 max-sm:text-[15px] px-4 py-2 rounded shadow-md transition-opacity duration-500 pointer-events-none z-50 flex items-center gap-2 ease-in-out"> <%= success %> </div>
    <% } %>

    <% if (info && info.length > 0) { %>
        <div class="toast infoToast max-sm:w-40 text-center font-bold fixed opacity-0 top-10 left-1/2 -translate-x-1/2 bg-zinc-800 text-white max-md:px-3 max-sm:text-[15px] px-4 py-2 rounded shadow-md transition-opacity duration-500 pointer-events-none z-50 flex items-center gap-2 ease-in-out"> <%= info %> </div>
    <% } %>
    
    
    <div class="main relative bg-zinc-900 h-screen w-screen flex flex-col items-center justify-center gap-4 font-bold overflow-hidden">
        <a class="absolute top-5 right-5 bg-red-600 px-5 py-2 rounded-md max-sm:text-[16px] max-sm-text[18px] text-[19px] cursor-pointer hover:bg-red-700 duration-300 ease-in-out text-white" href="/logout">Logout</a>

        <div class="headings relative z-[100] text-white">
            <h1 class="ml-5 max-sm:text-[34px] max-md:text-[40px] max-sm:tracking-tighter text-7xl tracking-tight">Welcome, <%= name %> 👋</h1>
        </div>

        <div class="paras relative z-[100] text-white">
            <p class="max-sm:w-80 max-md:text-[19px] max-md:px-3 w-170 text-[21px] text-center">Create a new room or join an existing one.</p>
        </div>

        <div class="buttons relative z-[100] text-white flex gap-3 max-md:flex-col">
            <a class="bg-[#353535] max-md:px-6 px-8 py-2 rounded-md max-sm:text-[19px] text-[21px] cursor-pointer hover:bg-[#262626] duration-300 ease-in-out" href="/createRoom">Create Room</a>
            <a class="bg-[#353535] max-md:px-6 px-8 py-2 rounded-md max-sm:text-[19px] text-[21px] cursor-pointer hover:bg-[#262626] duration-300 ease-in-out" href="/joinRoom">Join Room</a>
        </div>
    </div>
</body>
<script>
    let toast = document.querySelector(".toast");
    if(toast){
        toast.classList.remove("opacity-0");
        setTimeout(() => {
            toast.classList.add("opacity-0");
        }, 3000);
    }
</script>
</html>